:root{
    --body-color: darkslategrey;
    --header-color: lightgrey;
    --main-border-color: lightgrey;
    --footer-color: lightgrey;
    --box-bg-color:#f3f3f3;

    --link-color: lightseagreen;
    --info-color: lightseagreen; /*lightseagreen, seagreen, darkseagreen; mediumseagreen, goldenrod*/

    --error-color: sienna;
    --h1-color: sienna;
    --h2-color: sienna;
    --h3-color: sienna; /*sandybrown*/

    --padding: 10px;
}

/** Sections **/
body {margin:auto; width:80vw; padding:var(--padding); font-family: Verdana, serif; color:var(--body-color); line-height: 1.8}
header {text-align: center;  color:var(--header-color);  padding:var(--padding);}
nav {padding:var(--padding); display:flex; justify-content: space-between}
main {border:1px solid var(--main-border-color); min-height:80vh; padding:var(--padding); border-radius: var(--padding)}
footer {text-align: center; color: var(--footer-color);  padding:var(--padding)}

/** H(n) Counters (in main section) **/
main{counter-reset: h1}
h1{counter-reset: h2;}
h2{counter-reset: h3;} h2::before{ counter-increment: h2; content: counter(h2) ". "; }
h3{counter-reset: h4;} h3::before{ counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4{counter-reset: h5;} h4::before{ counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}

/* Favorites bar (in main section) */
main #favorites { top: -10px;right: -10px; position:relative; display:flex; justify-content: right; margin:0; padding:0; font-size: 10pt; color: lightgrey;}
main #favorites > li{ display: inline-block;  border-left:1px solid var(--main-border-color); border-bottom:1px solid var(--main-border-color); padding:4px var(--padding) 4px var(--padding)}

/** Basic textual markup (in main section) **/
img {width: 100%; height: auto; margin:auto 0 auto 0; display: block;}
h1, h2 { border-bottom: 1px solid var(--main-border-color); color:var(--h1-color)}
a:link, a:visited, a:active, a:hover { color:var(--link-color); text-decoration: none;}
a:hover {text-decoration: underline;}
p {text-align: justify; }
p:first-letter{padding-left: var(--padding); font-weight: bold; color:var(--info-color);}
blockquote{ border-left: 4px solid var(--info-color);
    border-top: 1px solid var(--info-color);
    border-right: 4px solid var(--info-color);
    border-bottom: 1px solid var(--info-color);
    border-radius: 4px; padding: var(--padding) }
blockquote.error{ border-left: 4px solid var(--error-color);
    border-top: 1px solid var(--error-color);
    border-right: 4px solid var(--error-color);
    border-bottom: 1px solid var(--error-color);
    border-radius: 4px; padding: var(--padding);
    color:var(--error-color);
}
pre{ border: 1px solid var(--main-border-color); color: #444; border-radius: 5px; padding: 5px; background-color: var(--box-bg-color)}

/* Footnotes bar (in footer section) */
.footnotes { border-top: 1px solid var(--main-border-color); padding: 20px; font-size: 8pt; margin: 40px 0 0 0 }
.footnotes li { padding: 5px 0 5px 0 }
.footnote > sup {padding: 0 0 0 4px; font-size: 8pt;}