@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root{
    --body-color: darkslategrey;
    --body-max-width: 900px;
    --header-color: lightgrey;
    --main-border-color: lightgrey;
    --footer-color: lightgrey;
    --box-bg-color: #f3f3f3;

    --link-color: lightseagreen;
    --info-color: lightseagreen; /*lightseagreen, seagreen, darkseagreen; mediumseagreen, goldenrod*/
    --note-color:lightgrey;

    --code-bg-color:  #444; /* light theme*/
    --error-color: sienna;
    --h1-color: sienna;
    --h2-color: sienna;
    --h3-color: sienna; /*sandybrown*/
    --em-color: #27342d;
    --padding: 10px;
}


/** Sections **/
body {margin:auto; width:80vw; max-width: var(--body-max-width); padding:var(--padding); font-family: 'Roboto', sans-serif; color:var(--body-color); line-height: 1.8}
header {text-align: center;  color:var(--header-color);  padding:var(--padding);}
nav {padding:var(--padding); display:flex; justify-content: space-between; }
nav > .previous:before { content: '\00AB  '; font-size:20px;vertical-align: center;}
nav > .next:after { content: ' \00BB'; font-size:20px; vertical-align: center;}
main {border:1px solid var(--main-border-color); min-height:80vh; padding:var(--padding); border-radius: var(--padding)}
footer {text-align: center; color: var(--footer-color);  padding:var(--padding)}

/** H(n) Counters (in main section) **/
main{counter-reset: h1}
h1{counter-reset: h2;}
h2{counter-reset: h3;} h2::before{ counter-increment: h2; content: counter(h2) ". "; }
h3{counter-reset: h4;} h3::before{ counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4{counter-reset: h5;} h4::before{ counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}

/* Favorites bar (in main section) */
main #favorites { top: -10px;right: -10px; position:relative; display:flex; justify-content: right; margin:0; padding:0; font-size: 10pt; color: lightgrey;}
main #favorites > li{ display: inline-block;  border-left:1px solid var(--main-border-color); border-bottom:1px solid var(--main-border-color); padding:4px var(--padding) 4px var(--padding)}

/** Basic textual markup (in main section) **/
figure { border:1px solid var(--main-border-color); padding: 5px; border-radius: 5px;}
figcaption { text-align: center; font-style: italic; font-size: 8pt; color: var(--code-bg-color)}
img {width: 95%; height: auto; margin:auto; display: block;}
h1, h2 { border-bottom: 1px solid var(--main-border-color); color:var(--h1-color)}
a:link, a:visited, a:active, a:hover { color:var(--link-color); text-decoration: none;}
a:hover {text-decoration: underline;}
a[target="_blank"]::after {content: ' \2197'; font-size:8pt; vertical-align: center; color:var(--body-color);}
p { text-align: justify-all; }
p:first-letter{padding-left: var(--padding); font-weight: bold; color:var(--info-color);}
blockquote{border: 1px solid var(--info-color); border-left-width: 4px; border-right-width: 4px; border-radius: 4px; padding: var(--padding); word-break: break-word; }
blockquote.note{border-color: var(--note-color) }
blockquote.error{border-color: var(--error-color); color:var(--error-color);}
pre{border: 1px solid var(--main-border-color);   border-radius: 5px !important;  }
code:not(pre > code) {overflow:auto; display:block;border: 1px solid var(--main-border-color); padding: 4px; border-radius: 5px; background-color: var(--box-bg-color)}
code:is(p > code) { font-size: 11pt; border:0; background-color: transparent; display: inline-block; padding: 4px;color: var(--code-bg-color);   }
abbr { color:var(--h1-color); text-transform: capitalize; font-weight: bold}
var {font-family: "Courier New", serif;}
em {color: var(--em-color);}

/* <volta:toc> */
.toc.document-nodes { list-style: none; padding:0 20px 0 0 ;}
.toc.document-nodes .toc.document-nodes {padding:0;}
.toc.document-node { margin:0 0 0 20px; padding:0; border-bottom: 1px dotted #dddddd; }
.toc.document-node .toc.document-node {border-bottom: none; }
.toc.document-node > em { float: right}

/* <volta:quiz> */
.quiz{}
.quiz .question { margin:20px;}
.quiz .question .question-data{  }
.quiz .question .answer-container{}
.quiz .question .answer-container .answer{}
.quiz .question .answer-container .answer-data{}
.quiz .question .answer-container .answer-status:before{ display:inline-block; width:1em; content: ' '}
.quiz .question .answer-container .answer-status.unknown{}
.quiz .question .answer-container .answer-status.correct{ color:green; }
.quiz .question .answer-container .answer-status.error{ color: red; }
.quiz .question .answer-container .answer-status.correct:before{ content: '\2713 ' }
.quiz .question .answer-container .answer-status.error:before{ content: '\274c ' }
.quiz .buttons > button{ padding:var(--padding); border:1px solid var(--main-border-color); border-radius: 5px;}
.quiz .buttons > button:hover{ color: var(--link-color)}

/* <volta:footnote> */
.footnotes { padding: 20px; font-size: 8pt; margin: 50px 0 0 0 }
.footnotes:before{ display:block; content: 'FOOTNOTES:'; border-bottom: 1px solid var(--main-border-color);}
.footnotes li { padding: 0 5px 0 5px }
.footnote > sup {padding: 0 0 0 4px; font-size: 8pt;}

/*Glossary*/
.glossaryEntry {margin: 0 0 20px 0}
.glossaryTerm {font-weight:bold; text-decoration: underline;}
.glossaryDescription {margin:0 0 0 20px;}

/* <volta:chuck> */
.chuck{ font-size:8pt; font-family: "Courier New", serif; text-align: center}
.chuck:before{content: '"'}
.chuck:after{content: '"'}

/* Miscellaneous */
.code-snippets{font-size: 8pt;}
.anchor:before{content: '# '}
.book-overview {justify-content: center; align-items: center; width:100%; display: flex; flex-direction: row; flex-wrap: wrap;}
.book-overview > figure {display: inline-block;}
/* ratio based on  https://snappa.com/blog/ebook-cover-size/ */
.book-overview > figure > a > img {display: inline-block; width: 200px; height: calc(200px * 1.5); }
.title{font-size: 40px}
.center {text-align: center;}
.center-all {margin: 20vh auto 0 auto; text-align: center;}
.box { }


@media only screen and (max-width: 600px) {
    p {text-align: left; }
    blockquote{margin:0;  word-break: break-all;}

}
